:root {
    --color-grey-500: #4d4f62;
    --color-grey-400: #6a7178;
    --color-red: #ea5454;
    --color-cyan: #44d3d2;
    --color-blue: #549ef2;
    --color-orange: #fcae4a;
    --space-500: 2.5rem;
    --space-400: 2rem;
    --space-300: 1.5rem;
    --space-200: 1rem;
    --space-100: 0.5rem;
    --font-poppins: "Poppins", sans-serif;
}

.text-preset-1 {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.016rem;
}

.text-preset-2 {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.016rem;
}

.text-preset-3 {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 135%;
}

.text-preset-4 {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 140%;
}

.text-preset-5 {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 160%;
}

body {
    color: var(--color-grey-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-500);
}

.component-desc {
    color: var(--color-grey-400);
}

.components-container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr ;
    row-gap: var(--space-400);
    column-gap: var(--space-400);
    width: 100%;
    max-width: 75rem;
    margin-top: var(--space-500);
    place-items: center;
    grid-template-areas: 
        "supervisor"
        "teambuilder"
        "karma"
        "calculator";

}
.component-card {
    border-top: 0.25rem solid var(--color-cyan);
    border-radius: var(--space-100);
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: var(--space-400);
    max-width: 20rem;
}

.component-card.supervisor {
    grid-area: supervisor;
}

.component-card.teambuilder {
    border-color: var(--color-red);
    grid-area: teambuilder;
}

.component-card.karma {
    border-color: var(--color-orange);
    grid-area: karma;
}

.component-card.calculator {
    border-color: var(--color-blue);
    grid-area: calculator;
}

.component-icon {
    align-self: flex-end;
    width: 4rem;
    height: 4rem;
    margin-top: var(--space-400);
}

.component-title {
    margin: 0;
}

.component-desc {
    margin: var(--space-100) 0 0 0;
    
}

.title-section * {
    text-align: center;
}

.bold-title {
    margin: 0;
}

.thin-title {
    margin: 0;
}

@media screen and (min-width:36rem) {

    .text-preset-1 {
        font-size: 2.25rem;
    }
    .text-preset-2 {   
        font-size: 2.25rem;
    }

    .components-container {
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        ". teambuilder teambuilder ."
        "supervisor supervisor karma karma"
        ". calculator calculator .";
    }
}

@media screen and (min-width:56rem) {

    .components-container {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr ;
        grid-template-areas: 
        ". teambuilder ."
        "supervisor teambuilder calculator"
        "supervisor karma calculator"
        ". karma .";
    }
}
